@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #ffe2d5;
  /* --background: #ff5f45; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f4ecf5;
    --background: #18043c;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
